* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  min-height: 100dvh;
  background-color: #03080c;
}

.container {
  display: flex;
  gap: 30px;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.btn-labels {
  display: flex;
  align-items: start;
  flex-direction: column;
}

.completed {
  font-size: 9px;
  font-weight: bold;
  color: green;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  color: #000 !important;
  font-weight: bold;
  background-color: #fff;
  border-radius: 12px;
  border: 2px solid #000;
  outline: none;
  box-shadow: 0 4px 0 #ffffff;
  cursor: pointer;
}

.btn:not(:disabled):active {
  transform: translateY(4px);
  box-shadow: none;
}

.btn:disabled {
  background-color: #ccc; /* blanco grisado */
  color: #666; /* texto más apagado */
  box-shadow: none; /* sin relieve */
  cursor: not-allowed;
  border-color: #999; /* borde más suave */
}

#game canvas {
  position: relative !important;
  display: block;
}
